<div class="container" data-filtre-target="filtrable">
  <% @posts.each do |p| %>
    <% if p.date >= Date.today %>
      <%= link_to post_path(p) do %>
        <div class="card-product">
          <% if p.photos.attached? %>
            <% p.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 150, crop: :fill, effect: "art:quartz", class: 'card-product-img' %>
            <% end %>
          <% else %>
              <img src="https://source.unsplash.com/random?actor" class="card-product-img"/>
          <% end %>
          <div class="card-product-infos">
            <div>
              <h2><%= p.titre %></h2>
              <p><%= p.descriptif.truncate(80) %></p>
            </div>
            <p class="card-trip-pricing" style="text-align: end;">
              <span><%= p.departement || p.ville.capitalize || p.lieux.capitalize %></span>
              <i class="fa-solid fa-location-dot"></i>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
