<div class="container filterbar">
  <div data-controller="toggle" class="py-1 shadow" style="border: 1px solid white;cursor: pointer; border-radius: 10px;">
    <div data-action="click->toggle#toggle touch->toggle#toggle" class="d-flex" style="align-items: center; justify-content: space-between;">
      <p style="margin-left: 10px;margin-bottom: 0;">Filtres</p>
      <i data-toggle-target="caret" class="fa-solid fa-caret-down" aria-hidden="true" style="margin-right: 10px;"></i>
    </div>
    <div data-toggle-target="toggleable" class="hidden container" >
      <div style="display: flex; flex-wrap: wrap;justify-content: space-evenly;" data-controller="filtre" class="d-none">
        <%= form_with url: candidats_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find by department"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="container gauche" style="display: flex;flex-direction: row;justify-content: space-around;">
        <%= link_to "jobs?query=Homme", style: 'display: flex;align-items: center;flex-direction: column;' do %>
          <i class="fa-solid fa-mars" style="font-size: 30px;"></i>Homme
        <% end %>
        <%= link_to "jobs?query=Femme", style: 'display: flex;align-items: center;flex-direction: column;' do %>
        <i class="fa-solid fa-venus" style="font-size: 30px;"></i>Femme
        <% end %>
        <%= link_to "/jobs", style: 'display: flex;align-items: center;flex-direction: column;' do %>
        <i class="fa-solid fa-venus-mars" style="font-size: 30px;"></i>Les deux
        <% end %>
      </div>
    </div>
  </div>
  <p style="margin-bottom: 0px;margin-left: 10px;"><small>Résultas : <%= @jobs.count %> / <%= Job.all.where("date >= ?", Time.now).count %></small></p>
</div>
