<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container-card-home">
        <% @jobs.each do |job| %>
          <div class="card-home">
            <%= link_to job_path(job) do %>
              <img src="https://source.unsplash.com/random?cinema" alt="" style="width: 100%;height: 150px;border-radius: 8px 8px 0 0;">
              <div class="container card-home-item-content">
                <strong class="card-home-item-title"><%= job.titre %></strong><br>
                <small class="card-home-item-text"><%= job.description.truncate(150) %></small>
                <div class="card-home-bas" style="display: flex;justify-content: space-between;">
                    <small style="text-align: start;">Publié le <%= job.created_at.strftime("%d/%m") %></small>
                    <small style="text-align: end;"><%= job.departement %> <i class="fa-solid fa-location-dot"></i></small>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
