<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand", style: 'display: flex;align-items: baseline;' do %>
      <%= image_tag "logo.png", style: 'height: 30px' %>
      <p style="margin-bottom: 0;">Final Claps</p>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto" style="display: flex; align-items: center;flex-direction: row;">
        <% if user_signed_in? %>
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key,
                                        height: 40,
                                        style: "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))",
                                        class: "avatar dropdown-toggle",
                                        id: "navbarDropdown",
                                        crop: :thumb,
                                        gravity: "face",
                                        effect: "art:quartz",
                                        data: { bs_toggle: "dropdown" },
                                        'aria-haspopup': true,
                                        'aria-expanded': false %>
          <% else %>
            <img src="https://img.icons8.com/officel/344/circled-user-male-skin-type-6.png" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))" class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
          <% end %>
          <i data-toggle-target="caret" class="fa-solid fa-caret-down" aria-hidden="true" style="margin-right: 10px;"></i>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Trouver un Job", '/job', class: "dropdown-item" %>
              <%= link_to "Mon Profil", "/", class: "dropdown-item" %>
              <%= link_to "Mes Candidatures", "/", class: "dropdown-item" %>
              <%= link_to "Mes Books", "/", class: "dropdown-item" %>
              <% if @candidat %>
                <%= link_to "Mes Mensurations", "/mensurations", class: "dropdown-item" %>
              <% end %>
              <%= link_to "Se Déconnecter" , destroy_user_session_path , class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item" >
            <%= link_to "Se connecter", user_session_path, class: "nav-link" %>
            <%= link_to "C'est parti", role_path, class: "btn btn-secondary nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
